body {
    background-color: rgb(38, 42, 53);
}

.orange-text{
    color: #ff8000;
}
::placeholder{
    color: #ff8000;
}
:-ms-input-placeholder{
    color: #ff8000;
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(38, 42, 53);
    border-bottom: #ff8000 2px solid;
}
  
.li {
    float: left;
}
  
.li-a {
    display: block;
    color: #ff8000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.li-a:hover {
    background-color: #ff8000;
    color: rgb(38, 42, 53);
}
.newproblem{
    width: 50%;
    border: 2px solid #ff8000;
    border: 10%;
    margin-left: 25%;
    margin-top: 5%;
}
.orange{
    color: #ff8000;
}
.problemabutton{
    color: #ff8000;
    background-color: rgb(38, 42, 53);
    border: 2px solid #ff8000;
    border-radius: 20px;
    width: 25%;
    height: 50px;
    font-size: 100%;
    margin-left: 37.5%;
    margin-top: 2%;
    margin-bottom: 2%;

}
.problemabutton:hover{
    color: rgb(38, 42, 53);
    background-color: #ff8000;
}
.ipcimnew{
    color: #ff8000
}
.button {
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    padding: 15px 32px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: bold;
  }
.button:hover{
    background-color: #ff8000;
    color:  rgb(38, 42, 53);
}
.kategoriak{
    text-align: center;
    margin-left: 20%;
    margin-bottom: 5%;
    background-color: rgb(38, 42, 53);
    color: #ff8000;
}
.problemdiv{
    width: 40%;
    max-width: 40%;
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    margin-left: 10%;
    border: 2px solid #ff8000;
    margin-top: 5%;
}
.problemdiv:hover{
    outline: none !important;
    border-color:  #ff8000;
    box-shadow: 0 0 10px  #ff8000;
}
input:focus { 
    outline: none !important;
    border-color:  #ff8000;
    box-shadow: 0 0 10px  #ff8000;
}
input{
    color:#ff8000 ;
    background-color: rgb(38, 42, 53);
    border: 2px solid #ff8000;
}

input:-webkit-autofill,
input:-webkit-autofill:hover
input:-webkit-autofill:active
input:-webkit-autofill:focus{
    -webkit-text-fill-color: #ff8000;
    transition: background-color 5000s ease-in-out 0s;
}
.myproblems{
    border: 2px solid #ff8000;
    width: 50%;
    height: 500px;
    margin-left: 25%;
    position: relative;
    margin-top: 5%;
}
.divek{
    border: 2px solid #ff8000;
    border: 20px;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}