body {
    background-color: rgb(38, 42, 53);
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(38, 42, 53);
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    background-repeat: no-repeat;
    background-size: 100%;
 }
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(38, 42, 53);
    border-bottom: #ff8000 2px solid;
}
  
.li {
    float: left;
}
  
.li-a {
    display: block;
    color: #ff8000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
  
.li-a:hover {
    background-color: #ff8000;
    color: rgb(38, 42, 53);
}
.orange-text{
    color: #ff8000;
}
.profilemain{
    background-color:rgb(38, 42, 53);
    margin-top: 5%;
    width: 75%;
    height: auto;
    border: 2px solid #ff8000;
    border-radius: 20px;
    margin-left: 12.5%;
    color: #ff8000;
    font-weight: bold;
    padding: 0%;
}
.pfrang{
    font-size:large;
    width: 10px;
    position: absolute;
    margin-left: 22%;
    margin-top: 7%;
}
.pfp{
    height: 275px;
    width: 275px;
    margin-left: -22.5%;
    margin-top:  5%;
    border-radius: 0px;
    border: 3px solid #ff8000;
}
.datum{
    margin-top:  1%;
    margin-left: 42.5%;
    position: absolute;
}
.pfname{
    font-size:xx-large;
    width: 10px;
    margin-left: 22%;
    margin-top: 5%;
    position:absolute;
}
.profileleiras{
    width: 25%;
    min-height: 200px;
    height: auto;
    margin-left: 3.5%;
    margin-top: 25%;
    float: left;
    border: 2px solid #ff8000;
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    border-radius: 5px;
}
@media only screen and (min-width: 2500px) {
    .profileleiras{
      margin-top: 20%;
    }
  }
::-webkit-scrollbar {
    width: 9px;
    }

    ::-webkit-scrollbar-track {
    background:  #141414; 

    }
    
    ::-webkit-scrollbar-thumb {
    background:  #ff8000;
    border-radius: 5px;  
    }

    ::-webkit-scrollbar-thumb:hover {
    background:  #ff8000; 
    }
.button {
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    padding: 15px 32px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: bold;
  }
.button:hover{
    background-color: #ff8000;
    color:  rgb(38, 42, 53);
}
.servermain{
    width: 35%;
    min-height: 10%;
    height: auto;
    padding-bottom: 1.8%;
    border: 2px solid#ff8000;
    position: absolute;
    margin-left: 35%;
    margin-top: -15%;
}
.firstserver{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    height: 50px;
    border: 2px solid #ff8000;
    border-radius: 20px;

}
.servernameinserver{
    font-size: medium;
    margin-left: 2%;
}
.serverstarinserver{
    position:absolute;
    margin-top: -5.5%;
    margin-left: 75%;
}
.szerkesztes{
    position: absolute;
    margin-top: -7%;
    background-color: #ff8000;
    color: rgb(38, 42, 53);
    border: 2px solid #ff8000;
    font-weight: bold;
    font-size: medium;
}
.szerkesztes:hover{
    background-color: rgb(38, 42, 53);
    color:  #ff8000;
}
.commentiras{
    margin-top: 17%;
    margin-left: 5%;
    margin-bottom: 2%;
}
.comment_text{
    background-color: rgb(38, 42, 53);
    color:  #ff8000;
    border: #ff8000 2px solid;
    border-radius: 5px;
    width: 22%;
}
.comment_send {
    background-color: #ff8000;
    color: rgb(38, 42, 53);
    padding: 4px 6px;
    border: 2px solid #ff8000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 1%;
    margin-top: 2.5%;
    font-weight: bold;
    position: absolute;
  }
.comment_send:hover{
    background-color:rgb(38, 42, 53);
    color:  #ff8000;
}
::placeholder {
    color: #ff8000 !important ;
}
::-ms-input-placeholder {
    color: #ff8000 !important;
}
.hozzaszolasok{
    border: 2px solid#ff8000;
    width: 35%;
    border-radius: 5px;
    margin-left: 30%;
    margin-bottom: 3%;
}
.hozzaszolasok_img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    border: #ff8000 2px solid;
    margin-left: 2%;
    margin-top: 2%;
}
.hozzaszolasok_name{
    margin-left: 15%;
    margin-top: -8%;
}
.hozzaszolasok_date{
    float: right;
    margin-top: -10%;
    margin-right: 2%;
}
.hozzaszolasok_text{
    background-color:rgb(38, 42, 53);
    color:  #ff8000;
    width: 98%;
    border: none;
}
.torlesgomb{
    margin-right: -15%;
    margin-top: -20%;
    background-color: #ff8000;
    color: rgb(38, 42, 53);
    border: #ff8000 2px solid;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    float: right;
}
.torlesgomb:hover{
    background-color: rgb(38, 42, 53);
    color:  #ff8000;
}