body {
    background-color: rgb(38, 42, 53);
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(38, 42, 53);
    margin-top: 0%;
 }
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(38, 42, 53);
    border-bottom: #ff8000 2px solid;
}
  
.li {
    float: left;
}
  
.li-a {
    display: block;
    color: #ff8000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
  
.li-a:hover {
    background-color: #ff8000;
    color: rgb(38, 42, 53);
}
.orange-text{
    color: #ff8000;
}
.profilemain{
    background-color:rgb(38, 42, 53);
    margin-top: 5%;
    width: 75%;
    height: auto;
    border: 2px solid #ff8000;
    border-radius: 20px;
    margin-left: 12.5%;
    color: #ff8000;
    font-weight: bold;
    padding: 0%;
}
.pfp{
    height: 275px;
    width: 275px;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 0px;
    border: 3px solid #ff8000;
}
.datum{
    margin-top:  15%;
    margin-left: 70%;
}
.pfname{
    font-size:xx-large;
    width: 10px;
    margin-left: 22%;
    margin-top: 6%;
    position:absolute;
}
.pfstar{
    font-size: medium;
    width: 10px;
    margin-left:25%;
}
.servermain{
    position:absolute;
    width: 35%;
    min-height: 10%;
    height: auto;
    margin-left: 35%;
    margin-top: -25%;
    padding-bottom: 2.5%;
    border: 2px solid#ff8000;
}
.profileleiras{
    position: absolute;
    width: 25%;
    min-height: 200px;
    height: auto;
    margin-left: 2.5%;
    margin-top: -12%;
    border: 2px solid #ff8000;
    background-color: rgb(38, 42, 53);
    color: #ff8000;
}
.firstserver{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    height: 50px;
    border: 2px solid #ff8000;
    border-radius: 20px;

}
.servernameinserver{
    font-size: medium;
    margin-left: 2%;
}
.serverstarinserver{
    text-align: right;
    margin-top: -8%;
    margin-right: 2%;
}

::placeholder {
    color: #ff8000 !important ;
}
::-ms-input-placeholder {
    color: #ff8000 !important;
   }

   input:focus { 
    outline: none !important;
    border-color:  #ff8000;
    box-shadow: 0 0 10px  #ff8000;
}
input{
    color:#ff8000 ;
}

input:-webkit-autofill,
input:-webkit-autofill:hover
input:-webkit-autofill:active
input:-webkit-autofill:focus{
    -webkit-text-fill-color: #ff8000;
    transition: background-color 5000s ease-in-out 0s;
}
::-webkit-scrollbar {
    width: 9px;
    }

    ::-webkit-scrollbar-track {
    background:  #141414; 

    }
    
    ::-webkit-scrollbar-thumb {
    background:  #ff8000;
    border-radius: 5px;  
    }

    ::-webkit-scrollbar-thumb:hover {
    background:  #ff8000; 
    }


    @media only screen and (max-width: 1600px) {
        .pfname{
          margin-left: 30%;
        }
      }
    @media only screen and (max-width: 1100px) {
        .pfname{
            margin-left: 40%;
        }
    }

    .button {
        background-color: rgb(38, 42, 53);
        color: #ff8000;
        padding: 15px 32px;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        font-weight: bold;
      }
    .button:hover{
        background-color: #ff8000;
        color:  rgb(38, 42, 53);
    }
    .button2 {
        margin-top: -7.5%;
        margin-left: 28.5%;
        position: absolute;
        background-color: #ff8000;
        color: rgb(38, 42, 53);
        padding: 4px 10px;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        border: 2px solid #ff8000;
      }
    .button2:hover{
        background-color: rgb(38, 42, 53);
        color:  #ff8000;
    }
    .button3 {
        margin-top: -17%;
        margin-left: 25%;
        position: absolute;
        background-color: #ff8000;
        color: rgb(38, 42, 53);
        padding: 4px 10px;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        border: 2px solid #ff8000;
      }
    .button3:hover{
        background-color: rgb(38, 42, 53);
        color:  #ff8000;
    }
    .button4 {
        position:absolute;;
        margin-top: -17%;
        margin-left: 18.5%;
      }
