body {
    background-color: rgb(38, 42, 53);
}

.loginpanel{
    width: 25%;
    height: 425px;
    margin-left: 37.5%;
    background-color:  rgb(38, 42, 53);
    border:3px solid #ff8000 ;
    border-radius: 5px;
    border:2px solid #ff8000 ;
    border-radius: 30px;
}
.loginobject{
    width: 80%;
    margin-top: 8%;
    margin-left: 10%;
    position: static;
    border-radius: 5px;
    padding: 1%;
    border-color: #ff8000;
    background-color:rgb(38, 42, 53);
}
.logininbutton{
    background-color: rgb(38, 42, 53);
    border: 2px solid #ff8000;
    margin-left: 15%;
    width: 25%;
    height: 15%;
    border-radius: 5px;
    margin-top: -20%;
    color: #ff8000;
    font-weight: bold;
}
.logininbutton:hover{
    background-color: #ff8000;
    color: rgb(38, 42, 53);
    border-radius: 20px;
    margin-top: 7%;
    color: #ff8000;
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(38, 42, 53);
    border-bottom: #ff8000 2px solid;
}
  
.li {
    float: left;
}
  
.li-a {
    display: block;
    color: #ff8000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
  
.li-a:hover {
    background-color: #ff8000;
    color: rgb(38, 42, 53);
}
.loginh1{
    text-align: center;
    margin-top: 2%;
    color: #ff8000;
}
.forgotpasswd{
    margin-left: 10%;
}
.logbutton{
    border: 3px solid #ff8000 ;
    border-radius: 5px;
    margin-top: 7%;
    margin-bottom: 2%;
    background-color: rgb(38, 42, 53);
    color: #ff8000 ;
    font-weight: bold;
    font-size: 20px;
    width: 10%;
    padding: 1%;
}
.logbutton:hover{
    background-color: #ff8000;
    color: rgb(38, 42, 53);
}

::placeholder {
    color: #ff8000 ;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #ff8000 ;
   }

   input:focus { 
    outline: none !important;
    border-color:  #ff8000;
    box-shadow: 0 0 10px  #ff8000;
}
input{
    color:#ff8000 ;
}
