body {
    background-color: rgb(38, 42, 53);
}
.orange-text{
    color: #ff8000;
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(38, 42, 53);
    border-bottom: #ff8000 2px solid;
}
  
.li {
    float: left;
}
.li-a {
    display: block;
    color: #ff8000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
.li-a:hover {
    background-color: #ff8000;
    color: rgb(38, 42, 53);
}

::-webkit-scrollbar {
    width: 9px;
    }

    ::-webkit-scrollbar-track {
    background:  #141414; 

    }
    
    ::-webkit-scrollbar-thumb {
    background:  #ff8000;
    border-radius: 5px;  
    }

    ::-webkit-scrollbar-thumb:hover {
    background:  #ff8000; 
    }
.mainservers{
    width: 50%;
    margin-left: 25%;
    border: 2px solid #ff8000;
    background-color: rgb(38, 42, 53);
    border-radius: 5px;
    margin-top: 5%;
}
.maintitles{
    color: #ff8000;
}
#playername{
    font-weight: bold;
}
#serverip{
    padding: 2px;
}
#leiras{
    text-align: right;
    margin-top: -10%;
}
.divek{
    color: #ff8000;
    width: 50%;
    height: 150px;
    margin-left: 25%;
    border: 2px solid #ff8000;
    border-radius: 5px;
    margin-top: 2%;
    padding: 0.1%;
}
.leirasdiv{
    color: #ff8000;
    max-width: 50%;
    min-height: 150px;
    max-height: 150px;
    margin-left: 50%;
    margin-top: -140px;
}
.serverdatas{
    border: 2px solid #ff8000;
    color: #ff8000;
    width: 75%;
    margin-left: 12.5%;
    height: auto;
    font-weight: bold;
    margin-top: 2%;
}
.servernamenew{
    font-size: 35px;
    padding: 1%;
    margin-top: 2%;
}
.playernamenew{
    font-size: 20px;
    text-align: right;
    margin-right: 10%;
    margin-top: 1%;
}
.ipcimnew{
    font-size: 20px;
    margin-left: 1%;
}
.leirasnew{
    font-size: 15px;
    margin-right: 1%;
    margin-top: 10%;
}
.button {
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    padding: 15px 32px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: bold;
  }
.button:hover{
    background-color: #ff8000;
    color:  rgb(38, 42, 53);
}
::placeholder {
    color: #ff8000 !important ;
}
::-ms-input-placeholder {
    color: #ff8000 !important;
}
.serverimgs{
    width: 50%;
    height: 400px;
    margin-left: 1%;
}
.leirasdiv{
    width: 50%;
    height: 400px;
    margin-right: 1%;
}
.hozzaszolastext:focus { 
    outline: none !important;
    border-color:  #ff8000;
    box-shadow: 0 0 10px  #ff8000;
}
.hozzaszolastext{
    color:#ff8000 ;
    background-color: rgb(38, 42, 53);
    width: 50%;
    border: 2px solid #ff8000;
    margin-left: 1%;
    max-width: 50%;
    height: auto;
    margin-top: 15%;
}
.hozzaszolastext:-webkit-autofill:focus{
    -webkit-text-fill-color: #ff8000;
    transition: background-color 5000s ease-in-out 0s;
}
.hozaszolasbutton{
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    height: 30px;
    border: 2px solid #ff8000;
    margin-bottom: 2px;
}
.hozaszolasbutton:hover{
    background-color: #ff8000;
    color: rgb(38, 42, 53);
}
.leirasdivtwo{
    border: 2px solid #ff8000;
    color: #ff8000;
    margin-top: 15%;
    margin-right: 5%;
}
.namediv{
    max-width: 50%;
    margin-bottom: 3%;
}
.keresessubmit{
    margin-top: 2%;
    margin-left: 1%;
    font-size: 150%;
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    border: #ff8000 2px solid;
    font-weight: bold;
    border-radius: 5px;
}
.keresessubmit:hover{
    background-color: #ff8000;
    color:  rgb(38, 42, 53);
}
input.kereses {
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    border: #ff8000 2px solid;
    padding-bottom: 0%;
    border-bottom: 0%;
    border-radius: 5px;
    font-size: 150%;
    margin-left: 40%;
}