body {
    background-color: rgb(38, 42, 53);
}

.orange-text{
    color: #ff8000;
}
::placeholder{
    color: #ff8000;
}
:-ms-input-placeholder{
    color: #ff8000;
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(38, 42, 53);
    border-bottom: #ff8000 2px solid;
}
  
.li {
    float: left;
}
  
.li-a {
    display: block;
    color: #ff8000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.li-a:hover {
    background-color: #ff8000;
    color: rgb(38, 42, 53);
}
.newhirdetes{
    width: 50%;
    border: 2px solid #ff8000;
    border: 10%;
    margin-left: 25%;
    margin-top: 5%;
}
.newhirdetesinput{
    background-color: rgb(38, 42, 53);
    border: 2px solid #ff8000;
    border-radius: 10px;
    text-align: start;
    appearance: auto;
    text-transform: none;
    text-indent: 0px;
    letter-spacing: normal;
    word-spacing: normal;
    -webkit-rtl-ordering: logical;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.orange{
    color: #ff8000;
}
.hirdetesbutton{
    color: #ff8000;
    background-color: rgb(38, 42, 53);
    border: 2px solid #ff8000;
    border-radius: 20px;
    width: 25%;
    height: 50px;
    font-size: 20px;
    margin-left: 37.5%;
    margin-top: 2%;
    margin-bottom: 2%;

}
.hirdetesbutton:hover{
    color: rgb(38, 42, 53);
    background-color: #ff8000;
}
.ipcimnew{
    color: #ff8000
}
.serverdatas{
    border: 2px solid #ff8000;
    color: #ff8000;
    width: 50%;
    margin-left: 25%;
    height: 500px;
}
.button {
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    padding: 15px 32px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: bold;
  }
.button:hover{
    background-color: #ff8000;
    color:  rgb(38, 42, 53);
}
.egyeburl{
    background-color: rgb(38, 42, 53);
    border: 2px solid #ff8000;
    border-radius: 10px;
    text-align: start;
    appearance: auto;
    text-transform: none;
    text-indent: 0px;
    letter-spacing: normal;
    word-spacing: normal;
    -webkit-rtl-ordering: logical;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.kategoriak{
    text-align: center;
    width: 50%;
    margin-top: 2%;
    margin-left: 25%;
    margin-bottom: 5%;
    background-color: rgb(38, 42, 53);
    color: #ff8000;
}
.custom-select {
    font-family: Arial;
  }
  
  .custom-select select {
    display: none;
  }
  
  .select-selected {
    background-color: rgb(38, 42, 53);
  }
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #ff8000;
  }
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #ff8000 transparent;
    top: 7px;
  }
  .select-items div,.select-selected {
    color: #ff8000;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  .select-items {
    position: absolute;
    background-color: rgb(38, 42, 53);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }