.commentiras{
    margin-top: 1%;
    width: 100%;
    margin-bottom: 1%;
    background-color: #262a35;
    border: 1px solid #3b4253;
}
.comment_text{
    background-color: rgb(38, 42, 53);
    color:  #ff8000;
    border: #ff8000 2px solid;
    border-radius: 5px;
    width: 65%;
}
.comment_send {
    background-color: #ff8000;
    color: rgb(38, 42, 53);
    padding: 4px 6px;
    border: 2px solid #ff8000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 1%;
    margin-top: 2.5%;
    font-weight: bold;
    position: absolute;
  }
.comment_send:hover{
    background-color:rgb(38, 42, 53);
    color:  #ff8000;
}
::placeholder {
    color: #ff8000 !important ;
}
::-ms-input-placeholder {
    color: #ff8000 !important;
}
.hozzaszolasok{
    background-color: #262a35;
    border: 1px solid #3b4253;
    width: 100%;
    margin-bottom: 1%;
    padding: 1%;
}
.hozzaszolasok_img{
    width: 70%;
    height: 70%;
    border-radius: 5px;
    border: #ff8000 2px solid;
    margin-left: 0%;
    margin-top: 2%;
}
.hozzaszolasok_name{
    margin-left: 0%;
}
.hozzaszolasok_rang{
    margin-top: 0%;
    margin-bottom: 0%;
}
.hozzaszolasok_star{
    font-size: medium;
    font-weight: bold;
    margin-left: auto;
    margin-bottom: 0%;
}
.hozzaszolasok_date{
    margin-left: auto;
    margin-bottom: 0%;
}
.hozzaszolasok_text{
    background-color:#262a35;
    color:  #ff8000;
    width: 98%;
    border: none;
}
.torlesgomb{
    margin-right: -15%;
    margin-top: -20%;
    background-color: #ff8000;
    color: rgb(38, 42, 53);
    border: #ff8000 2px solid;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    float: right;
}
.torlesgomb:hover{
    background-color: rgb(38, 42, 53);
    color:  #ff8000;
}
.egesz{
    margin-top: 75px;
    margin-left: 20%;
    margin-right: 20%;
}
.own_all{
    border: #3b4253 1px solid;
}
 
body {
    background-color: #1e212a;
    color: #ff8000;
}
.own_description{
    background-color: #262a35;
    border-right: #3b4253 1px solid;
}
.own_profile{
    background-color: #313644;
    float: right;
}
.orange-text{
    color: #ff8000;
}
.ul {
    width: 100%;
    position: fixed;
    top: 0%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(38, 42, 53);
    border-bottom: #ff8000 2px solid;
}
  
.li {
    float: left;
}
.li-a {
    display: block;
    color: #ff8000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
.li-a:hover {
    background-color: #ff8000;
    color: rgb(38, 42, 53);
}

::-webkit-scrollbar {
    width: 9px;
    }

    ::-webkit-scrollbar-track {
    background:  #141414; 

    }
    
    ::-webkit-scrollbar-thumb {
    background:  #ff8000;
    border-radius: 5px;  
    }

    ::-webkit-scrollbar-thumb:hover {
    background:  #ff8000; 
    }
.serverdatas{
    color: #ff8000;
    width: 100%;
    margin: 0%;
    height: auto;
    font-weight: bold;
    margin-top: 2%;
}
.servernamenew{
    font-size: 35px;
    padding: 1%;
}
.playernamenew{
    font-size: 20px;
    text-align: right;
    margin-right: 10%;
    margin-top: 1%;
}
.ipcimnew{
    font-size: 20px;
    margin-left: 1%;
}
.leirasnew{
    font-size: 15px;
    margin-right: 1%;
    margin-top: 10%;
}
.button {
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    padding: 15px 32px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: bold;
  }
.button:hover{
    background-color: #ff8000;
    color:  rgb(38, 42, 53);
}
::placeholder {
    color: #ff8000 !important ;
}
::-ms-input-placeholder {
    color: #ff8000 !important;
}
.serverimgs{
    width: 50%;
    height: 400px;
    margin-left: 1%;
}
.hozzaszolastext:focus { 
    outline: none !important;
    border-color:  #ff8000;
    box-shadow: 0 0 10px  #ff8000;
}
.hozzaszolastext{
    color:#ff8000 ;
    background-color: rgb(38, 42, 53);
    width: 50%;
    border: 2px solid #ff8000;
    margin-left: 1%;
    max-width: 50%;
    height: auto;
    margin-top: 15%;
}
.hozzaszolastext:-webkit-autofill:focus{
    -webkit-text-fill-color: #ff8000;
    transition: background-color 5000s ease-in-out 0s;
}
.hozaszolasbutton{
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    height: 30px;
    border: 2px solid #ff8000;
    margin-bottom: 2px;
}
.hozaszolasbutton:hover{
    background-color: #ff8000;
    color: rgb(38, 42, 53);
}
.leirasdivtwo{
    color: #ff8000;
    margin-top: 1%;
    margin-left: 2%;
    padding-bottom: 1%;
}
.hozzaszolasok_img2{
    width: 85px;
    height: 85px;
    margin-right: 10px;
    border-radius: 5px;
    border: #ff8000 2px solid;
    background-color: #262a35;
}