body{
    background-color: rgb(38, 42, 53);
    color: #ff8000;
}
.divek{
    color: #ff8000;
    width: 70%;
    height: 150px;
    margin-left: 15%;
    border: 2px solid #ff8000;
    border-radius: 5px;
    margin-top: 2%;
}
.idid{
    margin-top: -0.1%;
    font-weight: bold;
    padding: 1%;
}
.email{
    margin-top: -2%;
    font-weight: bold;
    padding: 1%;
}
.problema{
    font-weight: bold;
}
.problemadiv{
    width: 50%;
    margin-left: 50%;
    margin-top: -6%;
    height: 150px;
}
.kategoria{
    font-weight: bold;
    margin-top: -7%;
    padding: 1%;
}
.megoldodott{
font-weight: bold;
padding-left: 1%;
margin-top: -1%;
}