body{
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
}
.divek{
    color: #ff8000;
    width: 70%;
    height: 150px;
    margin-left: 15%;
    border: 2px solid #ff8000;
    border-radius: 5px;
    margin-top: 2%;
}
.idid{
    margin-top: -0.1%;
    font-weight: bold;
    padding: 1%;
}
.email{
    margin-top: -2%;
    font-weight: bold;
    padding: 1%;
}
.problema{
    font-weight: bold;
}
.problemadiv{
    width: 50%;
    margin-left: 50%;
    margin-top: -6%;
    height: 150px;
}
.kategoria{
    font-weight: bold;
    margin-top: -7%;
    padding: 1%;
}
.megoldodott{
font-weight: bold;
padding-left: 1%;
margin-top: -1%;
}
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(38, 42, 53);
    border-bottom: #ff8000 2px solid;
}
  
.li {
    float: left;
}
  
.li-a {
    display: block;
    color: #ff8000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
  
.li-a:hover {
    background-color: #ff8000;
    color: rgb(38, 42, 53);
}
.button {
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    padding: 15px 32px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: bold;
  }
.button:hover{
    background-color: #ff8000;
    color:  rgb(38, 42, 53);
}