body {
    background-color: rgb(38, 42, 53);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
 }
.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(38, 42, 53);
    border-bottom: #ff8000 2px solid;
}
  
.li {
    float: left;
}
  
.li-a {
    display: block;
    color: #ff8000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
  
.li-a:hover {
    background-color: #ff8000;
    color: rgb(38, 42, 53);
}
.orange-text{
    color: #ff8000;
}
::-webkit-scrollbar {
    width: 9px;
    }

    ::-webkit-scrollbar-track {
    background:  #141414; 

    }
    
    ::-webkit-scrollbar-thumb {
    background:  #ff8000;
    border-radius: 5px;  
    }

    ::-webkit-scrollbar-thumb:hover {
    background:  #ff8000; 
    }
    .button {
        background-color: rgb(38, 42, 53);
        color: #ff8000;
        padding: 15px 32px;
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        font-weight: bold;
      }
    .button:hover{
        background-color: #ff8000;
        color:  rgb(38, 42, 53);
    }
.adatok_img{
    border: #ff8000 2px solid;
    width: 75px;
    height: 75px;
    margin-top: 2%;
    margin-left: 5%;
    position: absolute;
}
.adatok_date{
    color: #ff8000;
    font-weight: bold;
    margin-left: 90%;
    margin-top: -5.5%;
}
.adatok_rang{
    margin-left: 30%;
    margin-top: -3.85%;
    font-weight: bold;
}
.felhasznalok{
    width: 50%;
    border: #ff8000 2px solid;
    background-color: rgb(38, 42, 53);
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 25%;
    padding: 1%;
    padding-bottom: 1%;
}
.profile_removecucc{
    font-size: medium;
    margin-top: 5%;
    margin-left: -5%;
    position: absolute;
    color: #ff8000;
    background-color: rgb(38, 42, 53);
    border: #ff8000 1px solid;
    font-weight: bold;
}
.profile_removecucc:hover{
    color: rgb(38, 42, 53);
    background-color: #ff8000;
}
.kategoriak{
    font-size: medium;
    margin-left: 25%;
    margin-top: 3%;
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    border-color: #ff8000;
}
.kuldesgomb{
    font-size: medium;
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    margin-left: 1%;
    border: #ff8000 1px solid;
    font-weight: bold;
}
.kuldesgomb:hover{
    background-color: #ff8000;
    color:  rgb(38, 42, 53);
}
.keresessubmit{
    margin-top: 2%;
    margin-left: 1%;
    font-size: 150%;
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    border: #ff8000 2px solid;
    font-weight: bold;
    border-radius: 5px;
}
.keresessubmit:hover{
    background-color: #ff8000;
    color:  rgb(38, 42, 53);
}
::placeholder {
    color: #ff8000 !important ;
}
::-ms-input-placeholder {
    color: #ff8000 !important;
}
input.kereses {
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    border: #ff8000 2px solid;
    padding-bottom: 0%;
    border-bottom: 0%;
    border-radius: 5px;
    font-size: 150%;
    margin-left: 40%;
}
.profile_bancucc{
    font-size: medium;
    margin-top: 5%;
    margin-left: 38%;
    position: absolute;
    color: #ff8000;
    background-color: rgb(38, 42, 53);
    border: #ff8000 1px solid;
    font-weight: bold;
}
.profile_bancucc:hover{
    color: rgb(38, 42, 53);
    background-color: #ff8000;
}