body {
    background-color: rgb(38, 42, 53);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
 }

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgb(38, 42, 53);
    border-bottom: #ff8000 2px solid;
}
  
.li {
    float: left;
}
  
.li-a {
    display: block;
    color: #ff8000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
  
.li-a:hover {
    background-color: #ff8000;
    color: rgb(38, 42, 53);
}
.loginh1{
    text-align: center;
    margin-top: 2%;
    color: #ff8000;
}
.loginpanel{
    width: 25%;
    height: auto;
    padding: 5%;
    margin-left: 37.5%;
    background-color: rgb(38, 42, 53);
    border:2px solid #ff8000;
    border-radius: 5px;
    margin-top: 7%;
}
.loginobject{
    width: 80%;
    margin-top: 8%;
    margin-left: 10%;
    position: static;
    border-radius: 5px;
    padding: 1%;
    border-color: #ff8000;
    background-color:rgb(38, 42, 53);
}
.logininbutton{
    background-color: rgb(38, 42, 53);
    border: 2px solid #ff8000;
    margin-left: 37%;
    margin-bottom: 1%;
    width: 25%;
    height: 15%;
    border-radius: 5px;
    margin-top: -50%;
    color:  #ff8000;
}
.forgotpasswdtext{
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    color:#ff8000;
}


::placeholder {
    color: #ff8000 ;
}
::-ms-input-placeholder {
    color: #ff8000 ;
   }

.piros{
  border-color: red ;
}
.piros::placeholder {
  color: red !important;
}
.piros::-ms-input-placeholder {
    color: red !important;
   }
.sarga{
    border-color:#ff8000 ;
  }
.sarga::placeholder {
    color: #ff8000 !important ;
}
.sarga::-ms-input-placeholder {
    color: #ff8000 !important;
   }


   input:focus { 
    outline: none !important;
    border-color:  #ff8000;
    box-shadow: 0 0 10px  #ff8000;
}
input{
    color:#ff8000 ;
}
.button {
    background-color: rgb(38, 42, 53);
    color: #ff8000;
    padding: 15px 32px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: bold;
  }
.button:hover{
    background-color: #ff8000;
    color:  rgb(38, 42, 53);
}
.formok{
    margin-top: 2%;
}
.backbutton{
    background-color: rgb(38, 42, 53);
    border: 2px solid #ff8000;
    color: #ff8000;
    border-radius: 10px;
    margin-left: 5%;
    font-size: 100%;
    text-decoration: none;
    padding: 0.3%;
}
.backbutton:hover{
    background-color: #ff8000;
    color: rgb(38, 42, 53);
    border: 2px solid #ff8000;
}